html{
    background-color: #222831;
}

body{
    margin: 0;
}

#head{
    display: flex;
    flex-direction: column;
}

@media (min-width: 721px){

    .container{
        width: 100%;
        background-color: #00adb5;
        height: 23vh;
        align-content: center;
    }
    
.navigation{
    display: flex;
    background-color: #eeeeee;
    align-items: baseline;
    justify-content: space-around;
    gap: 10px;
}

li{
    list-style: none;
}

.container>marquee {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    align-self: center;
    justify-self: center;
    font-size: 70px;
}

p {
    margin: 0;
}

.price>div {
    height: 200px;
    width: 200px;
    background-color: white;
}

.price {
    display: flex;
    justify-content: space-around;
}

#Content{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#Content>p {
    font-size: 50px;
    padding: 20px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
}

.price>div {
    text-align: center;
    border-radius: 5px;
}

.price p {
    font-weight: bold;
}

.name {
    margin: 15px 0px 0px 0px;
    font-size: 20px;
}

.amt {
    margin: 10px 0px;
    font-size: 30px;
}
}

@media (max-width: 720px){

    .container{
        width: 100%;
        background-color: #00adb5;
        height: 13vh;
        align-content: center;
    }

    .navigation{
        display: flex;
        background-color: #eeeeee;
        align-items: baseline;
        justify-content: space-around;
        gap: 10px;
        text-align: center;
    }
    
    li{
        list-style: none;
    }
    
    .container>marquee {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: italic;
        align-self: center;
        justify-self: center;
        font-size: 40px;
    }
    
    p {
        margin: 0;
    }
    
    .price>div {
        height: 200px;
        width: 200px;
        background-color: white;
    }
    
    .price {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    
    #Content{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    #Content>p {
        font-size: 50px;
        padding: 20px 0px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: aqua;
        text-align: center;
    }
    
    .price>div {
        text-align: center;
        border-radius: 5px;
    }
    
    .price p {
        font-weight: bold;
    }
    
    .name {
        margin: 15px 0px 0px 0px;
        font-size: 20px;
    }
    
    .amt {
        margin: 10px 0px;
        font-size: 30px;
    }
    }